# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environments
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Logs
*.log

# Editor backups
*~
*.swp
